.image-upload-container {
  cursor: pointer;
}

textarea{
  width: 101%;
  height: 40%;
  resize: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: gray;
  border: 1px;
  background-color: rgb(229, 228, 228);
}
.share{
  color: rgb(52, 136, 210);
  cursor: pointer;

}
.share:hover{
  background-color: rgba(147, 199, 241, 0.233);
  border-radius: 50%;
}
.title{
  text-align: center;
}
.DescriptionUsername{
  margin-top: -14%;
  margin-left: 28%;
}

.head{
  display:flex;
  justify-content: space-between;
  align-items: center;
}