<div class="content">
  <div class="head">
    <h2 class="title">New Post</h2>
    <h5 class="share" (click)="closePostModal()">Cancel</h5>
  </div>
  <form (ngSubmit)="createPost()">
    <br>
  <div>
    <label for="image_uploads">Please enter the link for your image.</label>
    <br/>
    <input
      type="text"
      id="image_uploads"
      name="photolink"
      accept="image/*"
      [(ngModel)]="photolink"
    />
  </div>
  <br />
  <div class="textContent">
    <input
      type="text"
      placeholder="Write a description"
      name="description"
      [(ngModel)]="description"
    >
  </div>
  <button type="submit">Save Post</button>
</form>
</div>
