<div class="text">
    <fa-icon (click)="closeModalMessages()" class="GoBack" [icon]="faArrowLeft" type="submit"></fa-icon>
    <div class="textSent">
        <p class="TestAsk">hola</p>
        <p class="TestAnswer">hola</p>
        <p class="TestAsk">hola</p>
        <p class="TestAnswer">hola</p>
        <p class="TestAsk">hola</p>
        <p class="TestAnswer">hola</p>
        <p class="TestAsk">hola</p>
        <p class="TestAnswer">hola</p>
        <p class="TestAsk">hola</p>
        <p class="TestAnswer">hola</p>
        <p class="TestAsk">hola</p>
        <p class="TestAnswer">hola</p>
        <p class="TestAsk">hola</p>
        <p class="TestAnswer">hola</p>
        <p class="TestAsk">hola</p>
        <p class="TestAnswer">hola</p>
        <p class="TestAsk">hola</p>
        <p class="TestAnswer">hola</p>
        <p class="TestAsk">hola</p>
        <p class="TestAnswer">hola</p>
        <p class="TestAsk">hola</p>
        <p class="TestAnswer">hola</p>
        <p class="TestAsk">hola</p>
        <p class="TestAnswer">hola</p>
        <p class="TestAsk">hola</p>
        <p class="TestAnswer">hola</p>
        <p class="TestAsk">hola</p>
        <p class="TestAnswer">hola</p>
        <p class="TestAsk">hola</p>
        <p class="TestAnswer">hola</p>
        <p class="TestAsk">hola</p>
        <p class="TestAnswer">hola</p>
        <p class="TestAsk">hola</p>
        <p class="TestAnswer">hola</p>
        <p class="TestAsk">hola</p>
        <p class="TestAnswer">hola</p>
        <p class="TestAsk">hola</p>
        <p class="TestAnswer">hola</p>
        <p class="TestAsk">hola</p>
        <p class="TestAnswer">hola</p>
        <p class="TestAsk">hola</p>
        <p class="TestAnswer">hola</p>
        <p class="TestAsk">hola</p>
        <p class="TestAnswer">hola</p>
        <p class="TestAsk">hola</p>
        <p class="TestAnswer">hola</p>
        <p class="TestAsk">hola</p>
        <p class="TestAnswer">hola</p>
    </div>
    <input class="inputText" type="text">
    <fa-icon class="sendText" [icon]="faPaperPlane" type="submit"></fa-icon>
</div>