<main>
  <div class="page">
    <div class="header">
      <h1 class="logo">GraphLite</h1>
    </div>
    <div class="container">
      <form action="">
        <input type="text" placeholder="Mobile Number or Email">
        <input type="text" placeholder="Full Name">
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <button>Sign up</button>
      </form>
    </div>
  </div>
  <div class="option">
    <p>Have an account? <a href="">Log in</a></p>
  </div>
</main>