<div class="container">
    <div class="box">
        <div class="heading"></div>
        <form class="login-form">
            <div class="field">
                <input id="username" type="name" placeholder="Phone number, username, or email" />
                <label for="username">Phone number, username, or email</label>
            </div>
            <div class="field">
                <input id="password" type="password" placeholder="password" />
                <label for="password">Password</label>
            </div>
            <button routerLink="MainPage" class="login-button" title="login">Log In</button>
            <div class="separator">
            </div>
            <div class="other">
                <a class="forgot-password">Forgot password?</a>
            </div>
        </form>
    </div>
    <div class="box">
        <p>Don't have an account? <a routerLink="RegisterPage" class="signup">Sign Up</a></p>
    </div>
</div>