<app-nav-bar></app-nav-bar>
<div class="container">
    <div>
        <img class="ImageCollocation" src="../../assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 ml-3 mt-3 img-circle">
        <div class="Adjust">
            <p class="UserName">UserName</p>
            <p class="UserAlias">UserAlias</p>
            <p class="State">Popular</p>
           <button class="FollowButton">Seguir</button>
        </div>
    </div>
    <div>
        <img class="ImageCollocation" src="../../assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 ml-3 mt-3 img-circle">
        <div class="Adjust">
            <p class="UserName">UserName</p>
            <p class="UserAlias">UserAlias</p>
            <p class="State">Popular</p>
            <button class="FollowButton">Seguir</button>
        </div>
    </div>
    <div>
        <img class="ImageCollocation" src="../../assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 ml-3 mt-3 img-circle">
        <div class="Adjust">
            <p class="UserName">UserName</p>
            <p class="UserAlias">UserAlias</p>
            <p class="State">Popular</p>
            <button class="FollowButton">Seguir</button>
        </div>
    </div>
    <div>
        <img class="ImageCollocation" src="../../assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 ml-3 mt-3 img-circle">
        <div class="Adjust">
            <p class="UserName">UserName</p>
            <p class="UserAlias">UserAlias</p>
            <p class="State">Popular</p>
            <button class="FollowButton">Seguir</button>
        </div>
    </div>
    <div>
        <img class="ImageCollocation" src="../../assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 ml-3 mt-3 img-circle">
        <div class="Adjust">
            <p class="UserName">UserName</p>
            <p class="UserAlias">UserAlias</p>
            <p class="State">Popular</p>
            <button class="FollowButton">Seguir</button>
        </div>
    </div>
    <div>
        <img class="ImageCollocation" src="../../assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 ml-3 mt-3 img-circle">
        <div class="Adjust">
            <p class="UserName">UserName</p>
            <p class="UserAlias">UserAlias</p>
            <p class="State">Popular</p>
            <button class="FollowButton">Seguir</button>
        </div>
    </div>
    <div>
        <img class="ImageCollocation" src="../../assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 ml-3 mt-3 img-circle">
        <div class="Adjust">
            <p class="UserName">UserName</p>
            <p class="UserAlias">UserAlias</p>
            <p class="State">Popular</p>
            <button class="FollowButton">Seguir</button>
        </div>
    </div>
    <div>
        <img class="ImageCollocation" src="../../assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 ml-3 mt-3 img-circle">
        <div class="Adjust">
            <p class="UserName">UserName</p>
            <p class="UserAlias">UserAlias</p>
            <p class="State">Popular</p>
            <button class="FollowButton">Seguir</button>
        </div>
    </div>
    <div>
        <img class="ImageCollocation" src="../../assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 ml-3 mt-3 img-circle">
        <div class="Adjust">
            <p class="UserName">UserName</p>
            <p class="UserAlias">UserAlias</p>
            <p class="State">Popular</p>
            <button class="FollowButton">Seguir</button>
        </div>
    </div>
    <div>
        <img class="ImageCollocation" src="../../assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 ml-3 mt-3 img-circle">
        <div class="Adjust">
            <p class="UserName">UserName</p>
            <p class="UserAlias">UserAlias</p>
            <p class="State">Popular</p>
            <button class="FollowButton">Seguir</button>
        </div>
    </div>
</div>
