<app-nav-bar></app-nav-bar>
<div class="container" >
    <div class="container2"*ngFor="let user of usersInfo">
        <img class="ImageCollocation" src={{user.userphoto}} onerror="this.src='https://images.assetsdelivery.com/compings_v2/thesomeday123/thesomeday1231709/thesomeday123170900021.jpg'" alt="User Avatar">
        <div class="Adjust">
            <p class="UserName">{{user.username}}</p>
            <p class="UserAlias">{{user.fullname}}</p>
            <p class="State">Popular</p>
            </div>
    </div>
</div>
