<div class="background">
    <p class="DisappearX" (click)="closeModal()">x</p>
    <div class="container">
        <fa-icon (click)="closeModal()" class="CloseMobileModal" [icon]="faArrowLeft" type="submit"></fa-icon>
        <img class="imageModal" src="https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" alt="">
        <div class="commentsContainer">
            <div class="UserPost">
                <img class="ImageUserModal" src="../../assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 ml-3 mt-2 img-circle">
                <p class="UserNameModal">UserName</p>
                <p class="UserComment">Comment</p>
            </div>
            <div class="UserPost">
                <img src="../../assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 ml-3 mt-2 img-circle">
                <p class="UserNameModal">UserName</p>
                <p class="UserComment">Comment</p>
            </div>
            <div class="UserPost">
                <img src="../../assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 ml-3 mt-2 img-circle">
                <p class="UserNameModal">UserName</p>
                <p class="UserComment">Comment</p>
            </div>
            <div class="UserPost">
                <img src="../../assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 ml-3 mt-2 img-circle">
                <p class="UserNameModal">UserName</p>
                <p class="UserComment">Comment</p>
            </div>
            <div class="UserPost">
                <img src="../../assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 ml-3 mt-2 img-circle">
                <p class="UserNameModal">UserName</p>
                <p class="UserComment">Comment</p>
            </div>
            <div class="UserPost">
                <img src="../../assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 ml-3 mt-2 img-circle">
                <p class="UserNameModal">UserName</p>
                <p class="UserComment">Comment</p>
            </div>
            <div class="UserPost">
                <img src="../../assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 ml-3 mt-2 img-circle">
                <p class="UserNameModal">UserName</p>
                <p class="UserComment">Comment</p>
            </div>
            <div class="UserPost">
                <img src="../../assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 ml-3 mt-2 img-circle">
                <p class="UserNameModal">UserName</p>
                <p class="UserComment">Comment</p>
            </div>
            <div class="UserPost">
                <img src="../../assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 ml-3 mt-2 img-circle">
                <p class="UserNameModal">UserName</p>
                <p class="UserComment">Comment</p>
            </div>
        </div>
        <fa-icon class="LikesButtonModal" [icon]="faHeart" type="submit"></fa-icon>
        <input class="InputTextModal" type="text">
        <fa-icon class="SendTextModal" [icon]="faPaperPlane" type="submit"></fa-icon>
    </div>
</div>